@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
